

#container{
    transition: 1s;
}
#container div{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin-top: 10px;
    transition: 0.5s;
}
.card1{
    background-color: orange;
}
